<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://unsplash.it/200/200');">
  <div class="card-description">
    <h2><%= cocktail.name %></h2>
  </div>
  <img class="card-user avatar" src="http://unsplash.it/200/200">
  <a class="card-link" href="#" ></a>
</div>
